/* Regras de box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove margens padrão */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove estilos de lista em elementos ul, ol com role='list', o que sugere que o estilo padrão será removido */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Define padrões principais do root */
html:focus-within {
  scroll-behavior: smooth;
}

/* Define padrões principais do body */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Elementos A que não têm classe recebem estilos padrão */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Torna imagens mais fáceis de trabalhar */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Herda fontes para inputs e botões */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove todas as animações, transições e rolagem suave para pessoas que preferem não vê-las */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}