/* header.css */
.header{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 40px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.265rem 1.25rem;
    background-color: #ffffff;
}

.logo img {
    height: 48px;
}

.nav-center ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
}

.nav-center a:hover, .nav-right a:hover{
    color: #7c3aed;
    color: #333333;
}

.nav-right ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-right img {
    height: 20px;
}

.nav-right a:hover img { 
    opacity: 0.7;
}