/* product-grid.css */
.card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.produto1 {
  grid-area: produto1;
  background-image: url(../../images/products/card_imagem.jpg)
}

.produto2 {
  grid-area: produto2;
  background-image: url(../../images/products/roxo-verde-grid.jpg);
}

.produto3 {
  grid-area: produto3;
  background-image: url(../../images/products/modelo-feminino.jpg);
}

.produto4 {
  grid-area: produto4;
  background-image: url(../../images/products/futurista-grid.jpg);
}

.produto5 {
  grid-area: produto5;
  background-image: url(../../images/products/preto-branco-grid.jpg);
}

.produto6 {
  grid-area: produto6;
  background-image: url(../../images/products/moderno-grid.jpg);
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas: 
    "produto1 produto1 produto2 produto2"
    "produto1 produto1 produto3 produto4"
    "produto5 produto5 produto3 produto6";
    gap: 30px;
}

.top1-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-title {
    color: #EDEDED;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.card-subtitle {
    color: #EDEDED;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.cta-group {
    display: flex;
    gap: 10px;
}

@media(max-width:768px) {
    .grid-section {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(5, auto);
      grid-template-areas: 
      "produto1 produto1"
      "produto5 produto5"
      "produto3 produto4"
      "produto3 produto6"
      "produto2 produto2";
      max-width: 100%;
      gap: 0.625rem;
    }

    .produto1 {
      min-height: 500px;
    }

    .produto2, .produto5 {
      min-height: 190px;
    }

    .produto3 {
      min-height: 370px;
    }

}